.left {
  float: inline-end;
  padding: 20px
}
.right{
  float: right;
}
.Textbox{
  border-left: 6px solid crimson;
  border-right: 6px solid crimson;
  border-top: 6px solid crimson;
  border-bottom: 6px solid crimson;
  padding: 6px;
  color: white;
}
body{
  background-color: grey;
}

h1 {
  color: skyblue;
  font-style: italic;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}
p {
  font-family: serif;
  color: white;
}
ol {
  line-height: 30px;
}
section{
  column-count: 2;
  column-gap: 2em;
}
